<div>
  <h1><%= title %></h1>
  <h3><span>Interested? We'll notify you as soon as we launch.</span></h3>
  <form method="post">
    <input name="email" size="30" /> <button type="submit">Send</button>
  </form>
  <br/>
  <div><a href="/responses">Admin Page</a> (username and password are 'admin')</div>
</div>